:root {
    background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 42px;
    margin: 50px 25px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    font-size: 16px;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: rgb(245, 176, 245);
}

/* body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#radio4 {
    margin-left: 13px;
}

.panel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container {
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: white;
    font-size: x-large;
    text-align: center;
}

.result {
    margin: 10px;
    padding: 5px;
    width: 80;
    height: 10vh;
    text-align: center;
    font-size: 50px;
}

.option-container {
    display: flex;
    justify-content: column;
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: white;
}

.option {
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 42px;
    margin: 50px 25px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    font-size: 16px;
    transition-duration: 0.5s;
}

.option:hover {
    background-color: rgb(245, 176, 245);
}

.navigation {
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
} */